@import url("https://pro.fontawesome.com/releases/v5.15.2/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/*  ARIEL FIRMA */

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2.5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2.5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.ariel-fir {
  margin: auto;
  margin-top: 25px;
  width: 300px;
  height: 200px;
  background: #0a0a0a;
  border: 14px solid #0a0a0a;
  outline: 1px solid #545b67;
  outline-offset: -13px;
  text-transform: uppercase;
  color: white;
  overflow: hidden;
}

.arielf-img {
  width: 300px;
  height: 200px;
  background: url(https://i.imgur.com/T880aBy.png);
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
}

.ariel-fir:hover .arielf-img {
  filter: grayscale(1);
  opacity: 0.45;
  transition: 0.6s ease;
}

.arielf-nombre {
  position: relative;
  bottom: 105px;
  left: 40px;
  font: 800 22px "Poppins";
  text-shadow: 1px 1px 1px #000;
  color: #cccccc;
}

.arielf-frase {
  position: relative;
  width: 227px;
  height: 10px;
  bottom: 107px;
  left: 40px;
  text-align: center;
  font: 400 8px Calibri;
  letter-spacing: 2px;
  overflow: hidden;
}

.ariel-frase .afr1 {
  transform: translateX(0px);
  transition: 0.25s ease;
  transition-delay: 0.25s;  
}

.ariel-frase .afr2 {
  transform: translateX(2px);
  transition: 0.25s ease;
}

.ariel-fir:hover .afr1 {
  transform: translateX(200px);
  transition: 0.25s ease;
}

.ariel-fir:hover .afr2 {
  transform: translateX(50px);
  transform: translateY(-9px);
  transition: 0.25s ease;
  transition-delay: 0.25s;
}

.arielf-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 120px;
  left: 130px;
  width: 40px;
  height: 40px;
  border: 3px solid #171717;
  background: #00000066;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
}

.arielf-icon i {
  font-size: 20px;
  transform: rotate(-45deg);
  color: #909eb3;
}

.ariel-fir:hover .arielf-icon {
  opacity: 1;
  border: 3px solid #545b67;
  transition: 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
}

.afr-mov {
    animation: bounce 1.3s linear infinite;
  -webkit-animation: bounce 1.3s linear infinite;
}

/*  BAUL ARIEL */

:root {
  --arielac: #545b67;
}

.baul-ariel {
  margin: auto;
  width: 839px;
  height: 530px;
  margin-top: 25px;
  outline: 1px solid #171717;
  outline-offset: 4px;
  color: #c7c7c7;
}

.badatos, .bacentro, .bamisc {
  width: 245px;
  height: 400px;
  padding: 10px;
  display: inline-block;
  border: 1px solid #171717;
  margin: 5px;
  overflow: hidden;
}

.bacentro {
  outline: 10px solid #ffffff08;
  outline-offset: -11px;
  background-image: url(https://images2.imgbox.com/16/b5/i9cuzcWm_o.png);
}

.bacentroim {
  position: absolute;
  margin-top: 65px;
  margin-left: 70px;
  width: 85px;
  height: 85px;
  border: 10px solid black;
  outline: 1px solid #ffffff08;
  transform: rotate(45deg);
  z-index: 2;
  overflow: hidden;
}

.bacentroim img {
  position: absolute;
  left: -20px;
  top: -19px;
  width: 125px;
  transform: rotate(-45deg);
}

.bacentro-forma {
  margin-top: -47px;
  width: 245px;
    height: 470px;
    background: #040404;
    border-right: 1px solid #111;
    border-left: 1px solid #111;
    clip-path: polygon(100% 12%, 100% 66%, 0% 94%, 0 40%);
    position: absolute;
}

.bacentro-forma b {
  position: absolute;
  top: 255px;
  left: 30px;
  width: 150px;
  padding: 10px;
  font: 400 8px Calibri;
  text-transform: uppercase;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 15px;
  z-index: 4;
color: #c7c7c7;
}

.bacentro-forma b::before {
  position: absolute;
  font-family: "Font Awesome 5 Pro";
  content: "\f10d";
  font-size: 45px;
  color: #545b672e;
}

.arieldatos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 35px;
  width: 185px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.arieldato1 {
  width: 90px;
  margin-bottom: 15px;
  font: 800 8px Arial;
  letter-spacing: 1px;
  line-height: 18px;
  border-bottom: 3px solid var(--arielac);
  color: var(--arielac);
}

.arieldato2 {
  width: 80px;
  margin-bottom: 15px;
  text-align: right;
  margin-top: 2px;
  font: 800 8px Calibri;
  letter-spacing: 2px;
  line-height: 16px;
  border-bottom: 1px solid #171717;
}

.arielmood {
  margin: auto;
  display: flex;
  width: 240px;
  margin-top: -25px;
  justify-content: space-around;
}

.arielmood color1, color2, color3 {
  width: 50px;
  height: 50px;
  background: transparent;
  outline: 2px solid #1b1a1a;
  outline-offset: 5px;
}

.arielmood color1 {
  background: #656b76;
}

.arielmood color2 {
  background: #4b515c; }

.arielmood color3 {
  background: #2a2d33;
}

.banompj {
  margin-top: 25px;
    font: 800 22px Playfair Display;
    letter-spacing: 1px;
    text-align: right;
    color: var(--arielac);
}

.banompj b {
  color: #c7c7c7;
font-size: 22px;
}

.banompj frase {
  font: 400 8px Calibri;
  letter-spacing: 2px;
  color: #c7c7c7;
}

.arielmisc {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 35px;
  width: 220px;
  font: 400 8px Calibri;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.arielmisc1 {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.arielmisc1 i {
  padding: 10px;
  font-size: 15px;
  border: 3px solid #171717;
  background: #00000066;
  color: var(--arielac);
  margin-right: 10px;
}

.arielmisc1 b {
  position: absolute;
  margin-left: 53px;
  margin-bottom: 15px;
  font: 800 8px Arial;
  color: #5b6679;
}

.ablinkos {
  margin: auto;
  display: flex;
  width: 830px;
  height: 35px;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #171717;
  font: 400 8px "Roboto";
  text-transform: uppercase;
  letter-spacing: 2px;
}

.ablinkos a {
  color: #c7c7c7;
  text-decoration: none;
  transition: ease-in-out 0.6s;
}

.ablinkos a:hover {
  color: #5b6679;
  font-weight: 700;
  letter-spacing: 3px;
  transition: ease-in-out 0.6s;
}

.ablinkos i {
  font-size: 3px;
  color: #ababab;
}

.ablinkos linea {
  background: #171717;
  height: 1px;
  width: 25px;
}

.abestad {
  margin: auto;
  display: flex;
  width: 830px;
  align-items: center;
  border: 1px solid #171717;
  margin-bottom: 10px;
}

.abestad2 {
  width: 100px;
  padding: 12px;
  text-align: center;
  border-right: 1px solid #171717;
}

.abestad3 {
  width: 100px;
  padding: 12px;
  text-align: center;
}

.abestad2, .abestad3, .abestad2 b, .abestad3 b  {
  font: 800 12px Arial;
}

.abestad2 b, .abestad3 b {
  color: #545b67;
  letter-spacing: 1px;
  margin-right: 5px;
}

/*  ARIEL TABLA B */

.ariel-busp {
  margin: auto;
  width: 350px;
  padding: 50px;
  border: 1px solid #5a54672e;
  font: 400 11px "Roboto Condensed";
  line-height: 19px;
  letter-spacing: .6px;
  text-align: justify;
  color: #9e9e9e;
} 

.ariel-busp titulo {
  display: block;
  text-align: center;
  font: 700 17px "Oswald";
  line-height: 12px;
} 

.ariel-busp info {
  font: 700 8px Calibri;
  letter-spacing: 2px;
}

.ariel-busp u {
  text-decoration: none;
  border-bottom: 1px solid #545b67;
  padding-bottom: 1px;
  font-weight: 600;
}

.ariel-busp dl.codebox dt {
  text-align: center;
  font: 700 12px "Oswald";
  color: #9e9e9e;
} 

.ariel-busp .spoiler_content.hidden {
  padding-left: 0px;
  border-left: 0px;
}

.ariel-busp nombre {
  font-weight: 700;
  color: #545b67;
  font-size: 13px; 
} 

.ariel-busp sub {
  font: 400 8.5px "Georgia";
  font-style: italic;
  line-height: 15px;
} 

.ariel-busp block {
  border-left: 1px solid #101010;
  display: block;
  margin-top: 15px;
  padding-left: 15px;
  font-size: 10.5px;}
